<!-- ==========Introduction========== -->
<div>
    <h1 class="text-4xl font-semibold mb-2 fade-in">Hi, I am</h1>
    <h1
        class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-bl from-secondary to-primary mb-3 fade-in">
        Ayush
        K. Mandal</h1>
    <p class="text-xl text-justify w-4/5 mb-3 fade-in">
        Hello! I am <span class="text-primary font-semibold">Ayush</span>, a passionate full-stack developer
        with expertise in a wide range of technologies. My
        journey began with a fascination for creating seamless user experiences, and over the years, I have honed
        my
        skills to build robust and efficient web applications.
    </p>
    <div class="mb-3 text-3xl fade-in">What I bring to the table</div>
    <p class="mb-3" id="skill-container"></p>
</div>